*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b";
}

.item{
    border: 2px palevioletred solid;
}

.main{
    grid-area: a;
}

.side{
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 40%;
    width: 70%;   
}

table{
    margin-left: 1%;
    margin-right: 1%;
    width: 70%;
    height: 30%;
}

table, th, tr, td{
    border: 2px solid palevioletred;
    border-collapse: collapse;
    
}
th{
    background-color: palevioletred;

}
tr {
    height: 30px;
	padding: 20px;
    font-weight: bold; 
	background-color: lightgreen;
	color: black;  
}

tr:hover{
	background-color: #28e;
    color: #fff;
    font-weight: bold; 
}

td{
    padding: 2px;
    text-align: center;
}



h1{
    margin-bottom: 5%;
    margin-top: 2%;
    font-weight: bold;
    color: white;
    background-color: navy;
    width: 80%;
    text-align: center;
}

h1:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 250%;
    height: 9%;
    width: 90%;
}

h2{
    margin-bottom: 3%;
    text-align: center;
    background-color: lemonchiffon;
    color: black;
    width: 60%;
}

p{
    margin: 5%;
}

p:hover{
    font-size: 20px;
    background-color: white;

}

  p:hover + h3 + .tabelka{
    display: none;
}

p:hover + h3{
    display: none;
}



  .tabelka{
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    height: 40%;
  }

  .thtab{
    border: 2px solid black;
    border-collapse: collapse;
  }

  .trtab{
    border: 2px solid black;
    border-collapse: collapse;
  }

  .tdtab{
    border: 2px solid black;
    border-collapse: collapse;
  }

  h3{
    margin-left: 25%;
    margin-right: 25%; 
    color: white;
    background-color: navy;
    text-align: center;
  }