*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-areas: 
    "a a"
    "b c"
    "d d"
    ;
}

.item{
    border: 2px palevioletred solid;
}

.header{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.leftsidebar{
    grid-area: b;
}

.main{
    grid-area: c;
    display: flex;
    align-items: center; 
    
}

.footer{
    grid-area: d;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.logo {
    display: block;
    margin: auto;
    max-width: 100%;
  }

.faceless {
    margin:0;
    padding: 0;
    display: flex;
    align-self: flex-end;
    height: 55vh;
    width: 20vw;
  }

.chihiro{
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;
    margin-left: 2%;
}

  
ul {
    color: black;
	width: 200px;
	padding: 2px 2px 1px 2px;
	background-color: #9ce;
    margin-top: 18%;
    list-style-type: none;
}

li {
	border-bottom: 1px solid #9ce;
}

.link {
    
	display: block;
	width: 200px;
	text-decoration: none;
	padding: 10px;
    font-weight: bold; 
	background-color: lightgreen;
    color: black; 
    border-left: 15px solid lightcyan;
    
}

.link:hover {
	width: 200px;
	background-color: #28e;
	color: #fff;
	border-left: 20px solid palevioletred;
}

table{
    margin-left: 10%;
    margin-right: 8%;
}

table, th, tr, td{
    border: 2px solid palevioletred;
    border-collapse: collapse;
    
}
th{
    background-color: palevioletred;

}
tr {
    height: 15px;
	padding: 30px;
    font-weight: bold; 
	background-color: lightgreen;
	color: black;  
}

tr:hover{
	background-color: #28e;
    color: #fff;
    font-weight: bold; 
}

td{
    width: 500px;
    text-align: center;
}

.ciemny{
    width: 20px;
    height: 20px;
    background-color: darkgray;
    border: 1px solid black;
}

.jasny{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid lightsalmon;
}

.base{

  width: 20px;
  height: 20px;
  background-color: lightblue;
  border: 1px solid palevioletred;
   
}



/* klasy dodawane przez js */

.ciemne{
    background-color: darkgray;
}

.ciemnyborder{
    border: 2px solid black;
}

.cth{
    background-color: black;
    color: white;
    border: 2px solid black;

}
.ctr {
    height: 15px;
	padding: 30px;
    font-weight: bold; 
	background-color: gray;
    color: white;
    border: 2px solid black;  
}

.ctr:hover{
	background-color: white;
    color: black;
    font-weight: bold; 
}

.ctd{
    width: 500px;
    text-align: center;
    border: 2px solid black;
}

.clink {
    
	display: block;
	width: 200px;
	text-decoration: none;
	padding: 10px;
    font-weight: bold; 
	background-color: gray;
    color: white; 
    border-left: 15px solid black;
    
}

.clink:hover {
	width: 200px;
	background-color: black;
	color: #fff;
	border-left: 20px solid gray;
}

.jasne{
    background-color: white;
}

.jasnyborder{
    border: 2px solid lightsalmon;
}

.jth{
    background-color: lightsalmon;
    color: black;
    border: 2px solid lightsalmon;

}
.jtr {
    height: 15px;
	padding: 30px;
    font-weight: bold; 
	background-color: white;
    color: black;
    border: 2px solid lightsalmon;  
}

.jtr:hover{
	background-color: lightgreen;
    color: black;
    font-weight: bold; 
}

.jtd{
    width: 500px;
    text-align: center;
    border: 2px solid lightsalmon;
}

.jlink {
    
	display: block;
	width: 200px;
	text-decoration: none;
	padding: 10px;
    font-weight: bold; 
	background-color: lightsalmon;
    color: black; 
    border-left: 15px solid lightgray;
    
}

.jlink:hover {
	width: 200px;
	background-color: lightgreen;
	color: black;
	border-left: 20px solid lightsalmon;
}